
.sc-inner-grid{
    /*height: 410px;
    position: relative;*/
    background: #E4E4E4;
}
.sc-topic-list-grid{
    /*position: absolute;*/
    position: relative;
    top: 65px;
    /*width: 89%;*/
    /*margin-left: 5%;*/
    /*height: 200px;*/
    background: white;
    z-index:1;  
}
.sc-topics-explore{
    width: auto;
    font-size: 20px;
    padding-top: 5%;
    letter-spacing: 2.1px;
    border-bottom: solid 3px #72C7DB;
}
.sc-topic-list{
  padding-top: 5%;
  /*padding-bottom: 5%;*/
}
.sc-topic-style-odd{
  font-size: 18px;
  border-bottom: 1px solid #EFEFEF;
    margin-bottom: 5%;
    width: auto;
    font-weight: bolder;
    color: #72C7DB;
        padding-bottom: 2%;
}
.sc-topic-size{
  font-size: 10px;
      padding-bottom: 1%;
}
.sc-topic-style-even{
  font-size: 18px;
  border-bottom: 1px solid #EFEFEF;
    margin-bottom: 5%;
    width: auto;
    font-weight: bolder;
    color: #6D6DB0;
    padding-bottom: 2%;
}
.sc-algo{
  overflow: hidden;
}
.sc-topic-btn{
  text-align: right;
  padding-bottom: 5%;
  margin-top: 6%;
}
.sc-topic-list-btn{
    
    /*float: right;*/
    /* color: #FF7676; */
    background: #FF7676;
    border: none;
    /* padding: 9px;*/
}
.sc-topic-list-inner{
  
}
.btn-danger:hover, .btn-danger:focus, .btn-primary:hover, .btn-primary:focus{
  background: #FF7676;
}
