@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,400,600");
body {
  font-family: "Work Sans", sans-serif;
  outline: none
}
a,
a:focus,
a:hover,
a:visited {
  text-decoration: none
}
.content-section {
  letter-spacing: 0.8px;
  padding: 0 30px;
  background-color: #F7F7F7;
  padding-top: 8%;
  min-height: 832px;
  max-height: 832px;
  overflow-y: auto;
}
.content-section .topic-header {
  margin-bottom: 10%;
  font-size: 28px;
}
.content-section .content-heading {
  font-size: 28px;
}
.content-section .content {
  margin-top: 10%;
}
.content-section .cross-icon {
  border: 1px solid #F8F8F8;
  position: relative;
  right: -15px;
  height: 30px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: #F8F8F8;
}
.content-section .question-set-section {
  margin-bottom: 30px;
}
.content-section .question-set-section .question-block {
  margin-top: 10px;
}
.content-section .question-set-section .question-block pre {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
}
.content-section .question-set-section .question-block code {
  padding: 15px 0 0 15px;
  background-color: #efefef;
  color: #333;
  padding-bottom: 15px;
}
.content-section .question-set-section .answer-section {
  position: relative;
  color: #fff;
  top: -10px;
  line-height: 30px;
  padding-left: 15px;
  background-color: #171717;
}
.navigation-section {
  background: #171717;
  padding-top: 5%;
}
.navigation-section .logo-text {
  font-size: 34px;
  letter-spacing: 2px;
}
.navigation-section .logo-text .rapid-text {
  color: #fff;
}
.navigation-section .logo-text .es6-text {
  color: #FF7D1D;
  font-weight: bold;
}
.navigation-section .tag-line {
  color: #fff;
  font-size: 11px;
  position: relative;
  top: -8px;
}
.navigation-section .navigation-links-section {
  overflow-y: auto;
  padding-bottom: 20px;
  margin-top: 20%;
  color: #fff;
}
.navigation-section .navigation-links-section .menu-box {
  margin-bottom: 5px;
}
.navigation-section .navigation-links-section .open-links {
  display: block !important;
}
.navigation-section .navigation-links-section .menu-box-open {
  background-color: #2B2B2B;
}
.navigation-section .navigation-links-section .menu {
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  padding-left: 30px;
}
.navigation-section .navigation-links-section .menu-items {
  background-color: #222222;
  display: none;
}
.navigation-section .navigation-links-section .menu-items li {
  height: 30px;
  line-height: 30px;
}
.navigation-section .navigation-links-section .menu-items li a {
  color: #fff;
}
.navigation-section .navigation-links-section .menu-items li a:hover,
.navigation-section .navigation-links-section .menu-items li a:focus {
  text-decoration: none;
  border-left: 2px solid #FF7D1D;
  cursor: pointer;
  padding-left: 38px;
}
.navigation-section .navigation-links-section .menu-items li a.active {
  color: #FF7D1D;
  border-left: 2px solid #FF7D1D;
  cursor: pointer;
  padding-left: 38px;
}
.navigation-section .navigation-links-section .menu-items li a {
  padding-left: 40px;
  display: block;
}
.puzzle-section {
  padding-top: 5%;
  background: #171717;
}
.puzzle-section .puzzle-text {
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}
.puzzle-section .of-the-day-text {
  color: #FF7D1D;
  position: relative;
  top: -16px;
  font-size: 22px;
}
.puzzle-section .question-container {
  margin-top: 10%;
}
.puzzle-section .question-container .question-text {
  color: #fff;
  padding-left: 15px;
}
.puzzle-section .question-container .question-box {
  margin-top: 15px;
}
.puzzle-section .question-container .question-box pre {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
}
.puzzle-section .question-container .question-box code {
  padding: 0 0 0 15px;
}
.puzzle-section .question-container .view-answer {
  min-height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
}
.right-info-section {
  background-color: #fff;
  padding-top: 5%;
  letter-spacing: 0.5px;
}
.right-info-section .info-block {
  margin-top: 10%;
}
.right-info-section .info-block .info-heading {
  color: #4E4E4E;
  margin-bottom: 10px;
}
.right-info-section .info-block .info-content {
  color: #A7A7A7;
}
.answer-section .show-answer-text {
  cursor: pointer;
}
.answer-section .show-ans-active {
  color: #FF7D1D;
}
.question-set-section .show-answer {
  display: none;
  position: relative;
  top: -10px;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #DEDEDE;
  background-color: #EFEFEF;
}
.open {
  display: block !important;
  transition-timing-function: linear;
}
@media (min-width: 768px) {
  .mobile-nav-bar-section {
    display: none;
  }
  .navigation-section {
    height: 1171px;
  }
  .navigation-section .navigation-links-section {
    max-height: 987px;
  }
  .content-section {
    min-height: 1171px;
    max-height: 1171px;
  }
}
@media (min-width: 992px) {
  .mobile-nav-bar-section {
    display: none;
  }
  .navigation-section {
    height: 1220px;
  }
  .navigation-section .navigation-links-section {
    max-height: 1036px;
  }
  .content-section {
    min-height: 1220px;
    max-height: 1220px;
  }
}
@media (min-width: 1200px) {
  .mobile-nav-bar-section {
    display: none;
  }
  .content-section {
    max-height: 1220px;
    min-height: 1220px;
  }
}
/* ----------- Non-Retina Screens ----------- */

@media (max-width: 760px) {
  .navigation-section {
    display: none;
  }
  .topic-header {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .mobile-content {
    padding: 15px;
    margin-top: 15%;
    min-height: 550px;
    max-height: 600px;
  }
  .mobile-content .content-heading {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }
  .mobile-conten .up-to-date-text {
    font-size: 18px;
  }
  .mobile-nav-bar-section {
    background-color: #171717;
    border: none;
  }
  .mobile-nav-bar-section .logo-text {
    font-size: 34px;
    letter-spacing: 2px;
    position: relative;
    left: -25px;
  }
  .mobile-nav-bar-section .logo-text .rapid-text {
    color: #fff;
  }
  .mobile-nav-bar-section .logo-text .es6-text {
    color: #FF7D1D;
    font-weight: bold;
  }
  .mobile-nav-bar-section .tag-line {
    color: #fff;
    font-size: 11px;
    position: relative;
    top: -8px;
    left: -25px;
  }
  .custom-hamburger {
    border: none;
    margin: 0;
    border-radius: 0;
    padding: 20px;
    margin-top: 5px;
    z-index: 1;
  }
  .custom-hamburger:focus,
  .custom-hamburger:hover {
    background-color: #2C2C2C !important;
  }
  .custom-hamburger .icon-bar {
    background-color: #FF7D1D !important;
  }
  .mobile-nav-bar-section .navbar-collapse {
    padding: 0;
  }
  .mobile-nav-bar-section .navigation-links-section {
    color: #fff;
    margin: 5% 0;
  }
  mobile-nav-bar-section .navigation-links-section .menu-box {
    margin-bottom: 5px;
  }
  .mobile-nav-bar-section .navigation-links-section .open-links {
    display: block !important;
  }
  .mobile-nav-bar-section .navigation-links-section .menu-box-open {
    background-color: #2B2B2B;
  }
  .mobile-nav-bar-section .navigation-links-section .menu {
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    padding-left: 30px;
  }
  .mobile-nav-bar-section .navigation-links-section .menu-items {
    background-color: #222222;
    display: none;
  }
  .mobile-nav-bar-section .navigation-links-section .menu-items li {
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
  }
  .mobile-nav-bar-section .navigation-links-section .menu-items li a {
    color: #fff;
  }
  .mobile-nav-bar-section .navigation-links-section .menu-items li a:hover,
  .navigation-section .navigation-links-section .menu-items li a:focus {
    text-decoration: none;
  }
  .mobile-nav-bar-section .navigation-links-section .menu-items li.active {
    color: #FF7D1D;
    border-left: 2px solid #FF7D1D;
    cursor: pointer;
    padding-left: 38px;
  }
  .mobile-nav-bar-section .navigation-links-section .menu-items li:hover {
    border-left: 2px solid #FF7D1D;
    cursor: pointer;
    padding-left: 38px;
  }
}

.sc-navbar-padding{
  padding-top: 5%;
}
.sc-span1-style{
  font-weight: bolder;
  font-size: large;
}
.sc-span2-style{
  font-weight: bolder;
  font-size: large;
  color: #72C7DB;
}

.sc-heading-tag{
    padding-top: 25%;
    text-align: center;
    color: #554B6F;
}

.sc-heading-info-heading{
  font-size: 24px;
  letter-spacing: 4.1px;
  border-bottom: solid 2px #72C7DB;
}

.sc-heading-info-subtext{
    padding-top: 15px;
    font-size: 13px;
}

.box{
  /*height: 250px;*/
    width: 100%;
    background: #fff; 
    /*padding-left: 15%;*/

}
.sc-header-container{
  padding-bottom: 15%;
}

.sc-course-container{
  background:  #EFEFEF
}

.sc-course-layout{
  padding: 10% 0 10% 0;
}

.sc-course-grid1{
  padding-bottom: 2%;
}

.sc-box-odd{
  border-bottom: solid 10px #4CB1C9;
}

.sc-box-even{
  border-bottom: solid 10px #6D6DB0;
}

.sc-box-title-odd{
    padding-top: 30%;
    padding-bottom: 30%;
    font-weight: bolder;
    font-size: 28px;
    color: #4CB1C9;
}

.sc-box-title-even{
    padding-top: 30%;
    padding-bottom: 30%;
    font-weight: bolder;
    font-size: 28px;
    color: #6D6DB0;
}

.sc-box-subtitle{
  padding-bottom: 10%
}
.sc-box-subtitle-count{
  font-weight: bold;
  color: #4CB1C9;
  font-size: 20px;
}

.sc-box-subtitle-desc{
  font-size: 14px;
  color: #C9C9D1;
}

.sc-footer{
  background: #4D4D5A;
}

.sc-footer-container{
  padding-top: 10%;
  padding-bottom: 10%;
}
.sc-footer-text{
  color: #B9B8B9;
  font-size: 10px;
}

.sc-footer-border{
  border-right: solid 1px #72C7DB;
  border-left: solid 1px #72C7DB;
}
.sc-footer-heading{
  padding-left: 5%;
}
.sc-footer-span1-style{
  /*font-weight: bolder;
  font-size: large;*/
  letter-spacing: 1.1px;
  color: white;
  font-weight: bold;
}
.sc-footer-span2-style{
  /*font-weight: bolder;
  font-size: large;*/
  color: #72C7DB;
  letter-spacing: 1.1px;
  font-weight: bold;
}
.sc-footer-list{
  padding-bottom: 5%;
}
.sc-footer-desc{
  padding-left: 15%;
}
.sc-footer-down{
  background: #343441
}

.sc-footer-text-down{
  color: #B9B8B9;
  padding: 1% 0px;
  font-size: 16px;
}
.sc-footer-title-desc{
  padding-top: 18%;
}
.sc-footer-follow{
  padding-left: 8%;
  padding-top: 2%;
}
.sc-topic-list-inner{
  
}
.sc-topic-list-grid{
    /*position: absolute;*/
    position: relative;
    top: 65px;
    /*width: 89%;*/
    /*margin-left: 5%;*/
    /*height: 200px;*/
    background: white;
    z-index:1;

   
}
.sc-feedback-outer-grid{
   position: relative;
    top: 140px;
    width: 89%;
    /*margin-left: 5%;*/
    /*height: 200px;*/
    background: white;
    z-index:1;

}
.sc-feedback-outer-grid > div:nth-child(1){
  padding-top: 8%;
}
.sc-inner-grid{
    /*height: 410px;
    position: relative;*/
    background: #E4E4E4;
}

.sc-topics-explore{
    width: auto;
    font-size: 20px;
    padding-top: 5%;
    letter-spacing: 2.1px;
    border-bottom: solid 3px #72C7DB;
}
.sc-topic-list{
  padding-top: 5%;
  /*padding-bottom: 5%;*/
}
.sc-topic-style-odd{
  font-size: 18px;
  border-bottom: 1px solid #EFEFEF;
    margin-bottom: 5%;
    width: auto;
    font-weight: bolder;
    color: #72C7DB;
        padding-bottom: 2%;
}
.sc-topic-style-even{
  font-size: 18px;
  border-bottom: 1px solid #EFEFEF;
    margin-bottom: 5%;
    width: auto;
    font-weight: bolder;
    color: #6D6DB0;
    padding-bottom: 2%;
}

.sc-topic-size{
  font-size: 10px;
      padding-bottom: 1%;
}
.sc-algo{
  overflow: hidden;
}
.sc-topic-list-btn{
    
    /*float: right;*/
    /* color: #FF7676; */
    background: #FF7676;
    border: none;
    /* padding: 9px;*/
}
.sc-topic-btn{
  text-align: right;
  padding-bottom: 5%;
  margin-top: 6%;
}
.sc-feedback-inner-grid{
      background: #72C7DB;
    height: 750px;
    /*position: relative;*/
}
.sc-feedback-text-style1{
    color: #574D71;
    letter-spacing: 2.1px;
    font-size: 20px;
    padding-bottom: 3%;
}
.sc-feedback-text-style1 > span{
  border-bottom: solid 2px #72C7DB;
  padding-bottom: 3%;
}
.sc-feedback-text-style2{
  color: #554B6F;
    font-weight: 900;
    font-size: 50px;
    padding-top: 3%;
}
.sc-feedback-border{
  border-left: solid 1px #72C7DB;
}
.sc-feedback-suggestion{
  /*padding-left: 5%;*/
  overflow: hidden;
    /* border-bottom: solid; */
    letter-spacing: 1.1px;
}
.sc-feedback-ques{
  border-bottom: solid 1px #72C7DB;
    padding-bottom: 5%;
    padding-top: 5%;
}
.sc-feedback-ques > span:nth-child(2){
  float: right;
  font-weight: bolder;
  color: #554B6F;
}
.sc-feedback-padding{
  padding-bottom: 5%;
}
.sc-subscribe-row{
  margin: 15% 0 15% 0
}
.sc-subscribe-text-style{
  color: #574D71;
    font-weight: bolder;
    padding-top: 20%;
}
.sc-subscribe-border{
  border-right: solid 1px #72C7DB;
}

.sc-subscribe-mail input{
  /*padding-top: 5%;*/
  background: #EFEFEF;
    border: none;
    height: 40px;
    padding-left: 10px;
    width: 50%;
}
.sc-subscribe-container{
  padding-left: 10%;
}
.sc-subscribe-mail{
  padding-top: 10%;
}
.sc-subscribe-btn{
    height: 45px;
    position: relative;
    bottom: 0px;
    background: #FF7676;
    border: none;
    border-radius: 0px;
}
.sc-nav-searchbar{
      background: #EFEFEF;
    border: none;
    height: 40px;
    padding-left: 10px;
    width: 70%;
}
.sc-feedback-container{
  padding-left: 8%;
}
.sc-feedback-btn-container{
  text-align: right;
  padding-bottom: 5%;
}

.btn-danger:hover, .btn-danger:focus, .btn-primary:hover, .btn-primary:focus{
  background: #FF7676;
}